
FiltrrApp/.DS_Store

FiltrrApp/FiltrrApp.xcodeproj/xcuserdata/omid.xcuserdatad/xcdebugger/Breakpoints.xcbkptlist

FiltrrApp/FiltrrApp.xcodeproj/project.xcworkspace/xcuserdata/omid.xcuserdatad/UserInterfaceState.xcuserstate
