
FiltrrApp/.DS_Store

FiltrrApp/FiltrrApp.xcodeproj/xcuserdata/omid.xcuserdatad/xcdebugger/Breakpoints.xcbkptlist

FiltrrApp/FiltrrApp.xcodeproj/project.xcworkspace/xcuserdata/omid.xcuserdatad/UserInterfaceState.xcuserstate

FiltrrApp/FiltrrApp.xcodeproj/project.xcworkspace/xcuserdata/omid.xcuserdatad/WorkspaceSettings.xcsettings

FiltrrApp/FiltrrApp.xcodeproj/project.xcworkspace/xcuserdata/omid.xcuserdatad/UserInterfaceState.xcuserstate

FiltrrApp/FiltrrApp.xcodeproj/xcuserdata/omid.xcuserdatad/xcschemes/FiltrrApp.xcscheme
